body {
  background-color: #f8f9fa;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.card-body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.card-body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}